tabs-nav {
  .tabs-nav-wrapper {
    height: $nav-height-mobile;
    width: 100%;
    z-index: 99999;
    position: fixed;
    bottom: 0px;
    background: #fff;
    @extend .space-between;
    align-items: center;
    padding: 5px 20px 0 20px;
    border-top: 1px solid rgb(231, 231, 231);
    @include iphone-x {
      height: 75px;
      padding-bottom: 25px !important;
    };
    .nav-link {
      @extend .center;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 2px;
      background: #ffffff;      
      height: 100%;
      background: #FFF;
      cursor: pointer;
      &.active-link {
        .nav-link-title {
          color: $color-primary;
        }
      }
      .nav-link-icon {
        svg {
          width: auto;
          height: 20px;
        }
      }
      .nav-link-title {
        color: #3E403F;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        white-space: nowrap;
      }
    }
  }
}
