.page-wrapper
  .spinner-container(*ngIf="loading")
    ion-spinner
  .progress-tracker-wrapper
      .progress-page-title
        | Progress
      ion-col.lp-list-col(col-12 col-md-8)
        mobile-header([isScrolled]="isScrolled", [title]="title")
      ion-content.lp-list
        .progress-tracker-page-wrapper
          ion-row.progress-row
            ion-col.progress-col-1(col-12, col-md-6)
              .progress-card-wrapper.first-card
                .progress-title-row
                  h1.progress-card-header.count 
                    | {{prizes.length}}   
                  h1.progress-card-header  
                    | Prizes received
                a.progress-card-item(*ngFor="let prize of prizes", (click)="goToPrizeDetailPage(prize.id)")
                  .progress-card-data
                    h2.progress-card-item-header
                      | {{prize.title}}
                    h3.progress-card-item-info
                      | {{prize.organization_name}}
                  img.link-arow(src="assets/icon/link-arrow.svg") 
              .progress-card-wrapper
                .progress-title-row
                  h1.progress-card-header.count 
                    | {{internships.length}} 
                  h1.progress-card-header
                    | Internships applied for
                a.progress-card-item( *ngFor="let internship of internships", (click)="goToOpportunityDetailPage(internship.id)")
                  .progress-card-data
                    h2.progress-card-item-header
                      | {{internship.title}}
                    h3.progress-card-item-info
                      | {{internship.organization_name}}
                  img.link-arow(src="assets/icon/link-arrow.svg") 
            ion-col.progress-col-2(col-12, col-md-6)       
              .progress-card-wrapper
                .progress-title-row
                  h1.progress-card-header.count
                    | {{scholarships.length}} 
                  h1.progress-card-header 
                    | Scholarships applied for
                a.progress-card-item( *ngFor="let scholarship of scholarships", (click)="goToScholarshipDetailPage(scholarship.id)")
                  .progress-card-data
                    h2.progress-card-item-header
                      | {{scholarship.title}}
                    h3.progress-card-item-info
                      | {{scholarship.organization_name}}
                  img.link-arow(src="assets/icon/link-arrow.svg") 
              .progress-card-wrapper
                .progress-title-row
                  h1.progress-card-header.count 
                    | {{opportunities.length}} 
                  h1.progress-card-header 
                    | Opportunites pursued
                a.progress-card-item( *ngFor="let opportunity of opportunities", (click)="goToOpportunityDetailPage(opportunity.id)")
                  .progress-card-data
                    h2.progress-card-item-header
                      | {{opportunity.title}}
                    h3.progress-card-item-info
                      | {{opportunity.organization_name}}
                  img.link-arow(src="assets/icon/link-arrow.svg") 
