.page-wrapper
  .earn-wrapper    
    .header-nav
      h1.headers
        | Earn 
    .earn-more-content.scroll-content
      .comment
        | Earn more points to receive prizes
      .section
        .section-title
          | 5 Points
        .section-content
          | Refer a friend to the app
      .section
        .section-title
          | 10 Points
        .section-content
          | Automatic downloading app
          br
          | Complete interest profile
          br
          | Complete Career Cluster
          br
          | Complete Personality Index
      .section
        .section-title
          | 15 Points
        .section-content
          | Time frame points
          br
          | Applying for scholarships
      .section
        .section-title
          | 25 Points
        .section-content
          | Earning a Key Card
          br
          | Signing up for a UESP Account