.page-wrapper
  .earn-wrapper    
    .header-nav
      h1.headers
        | Earn 
    .earn-more-content.scroll-content
      .comment
        | CREATE A KTS ACCOUNT	The future is in your hands!
      section
        .section-title
          | EARN A KEY CARD
        .section-content
          | When you reach an academic goal or improve in the classroom, talk to your teacher to get a Key Card (up to three)!
      section
        .section-title
          | THE MASTER KEY
        .section-content
          | Reach the current posted Keys to Success goal on our instagram account!
      section
        .section-title
          | APPLY FOR A SCHOLARSHIP
        .section-content
          | Get 25 points for each Keys to Success scholarship you apply for in the app (up to five).
      section
        .section-title
          | ENGAGE IN OPPORTUNITIES
        .section-content
          | Get 10 points for each opportunity you engage in (up to ten).
      section
        .section-title
          | WEEKLY CONSECUTIVE LOG-IN
        .section-content
          | Earn points each consecutive week you log in to the app!
      