#scholarships
  .search-bar
    i.fa.fa-search.search-icon
    input.search-text(type="text" placeholder="Search scholarships..." [(ngModel)]='searchText' (keyup.enter)='searchItems($event)')
  ngx-loading([show]='loading')  
  .d-flex.space-between.px-4.py-1
    .table-header.col-resource
      | Resource
    .table-header.col-organization
      | Organization
    .table-header.col-link
      | Link
    .table-header.col-created
      | Created
    .table-header.col-edit
      | &nbsp;
  .table-content-with-search(#scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)")
    .list(*ngFor="let scholarship of scholarships")
      .d-flex.space-between.bg-white.px-4.py-1.pointer((click)='editScholarship(scholarship.id)')
        .table-data-primary.col-resource
          | {{scholarship.title}}
        .table-data.col-organization
          | {{scholarship.organization.name}}
        .table-data.col-link
          | {{scholarship.url}}
        .table-data.col-created
          | {{scholarship.created_at}}
        .table-data.col-edit
          i.fa.fa-pencil.edit-row
    .infinite-scroll-loading(class="infinite-scroll-loading" *ngIf="infiniteScrollLoading")
      |Loading ...