.page-wrapper
  .tool-wrapper    
    .header-nav
      ion-icon.arrow-back-icon(tappable, ios="ios-arrow-back", md="ios-arrow-back", (click)="goBack()")
      h1.headers
        | Tools 
    .scroll-content.tool-content    
        ul
          li(*ngFor="let tool of toolsList;", [ngClass]="{'desktop-version': !tool.is_mobile}")                    
            a.kts-card-item.tool-item((click)="openURL(tool.url)")
              .tool-name
                | {{tool.name}}
              ion-icon.arrow-icon(ios="ios-arrow-forward", md="ios-arrow-forward")