@import "../../../theme/variables.scss";
page-tools {
  .header-nav {  
    @extend .justify-start;
    flex-wrap: wrap; 
    align-items: center; 
    padding-left: 10px; 
    @include md{    
      padding-left: 0;
    }  
    .headers {
      font-size: 24px;
      font-weight: normal;      
      margin: 0 0 0 15px;
      @include md{          
        font-size: 36px;  
        margin: 0;      
      }
    }
    .arrow-back-icon {
      cursor: pointer;
      font-size: 30px;
      color: #232D3B;
      @include md{
        display: none;
      }
    }
  }  
  .tool-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 10px 0px;    
    @include md{
      margin: 20px 15px 10px 15px; 
      width: 540px;
      max-width: 540px;   
    }
  }
  .desktop-version {
    @include md-max{
      display: none;
    }
  }
  .tool-content {
    margin-top: 60px;
    background: none;
    border: 0;
    @include md{      
      background-color: #FFF;
      border: 1px solid #F0F1F6;
    }
    ul {
      list-style-type: none;
      padding:0 20px 0 36px;
      font-size: 18px;      
      background-color: #FFF;
      margin: 0;
      padding: 0;
      border: 1px solid #F0F1F6;
      @include md {
        font-size: 22px;
        border: 0;
      }
      .tool-item {
        color: #232D3B;
        margin-bottom: 0;
      }
      li {
        padding: 12px 20px 12px 36px;
        border-bottom: 1px solid #F0F1F6;
        .arrow-icon{
          color: #CFD2E6;
        }
      }
    }
  }  
}
