.page-wrapper-simple.kts-gradient
    .content-wrapper
        .kts-header
            | Redeem
        .inner-wrapper
            .kts-header-bold
                | Balance: {{ points }} points
            .flexRow
                .kts-input-label
                    | Key card number
                .invalid-validation(*ngIf="confirmation")
                    | {{confirmation}}
            input.kts-input([(ngModel)]="Keycode")
            .kts-primary-btn.center((click)="submitKeycard(Keycode)")
                | Redeem Card
            .links
                a.my-careers.kts-link((click)="goToPage('PrizesPage')")
                    | See available prizes.
                    img.link-arrow(src="assets/icon/link-arrow.svg")
                a.my-careers.kts-link((click)="goToPage('EarnMorePage')")
                    | Learn how to earn more points!
                    img.link-arrow(src="assets/icon/link-arrow.svg")
