@import "~assets/stylesheets/style-guide";
@import "~assets/stylesheets/mixins";
@import "~assets/stylesheets/shared-classes";
.header-nav {  
  @include space-between;
  flex-wrap: wrap;
  font-family: $font-primary;
  margin-bottom: 10px;
}

.users-button {
  @extend .primary-button;
  @extend .new-button-group;  
}

.users {
  position: relative;
  .newBtn{
      width: 180px;
      margin: 0;
  }
  .newTabs{
      border-bottom: 1px solid $color-nav-underline;
  }
  .newSubNav{
      position: relative;
      cursor: pointer;
      width: auto;
      height: 40px;
      padding: 0 20px;
  }  
}
