#opportunities
  .search-bar
    i.fa.fa-search.search-icon
    input.search-text(type="text" placeholder="Search opportunities..." [(ngModel)]='searchText' (keyup.enter)='searchItems()')
  ngx-loading([show]='loading')
  .d-flex.space-between.px-4.py-1
    .table-header.col-resource
      | Resource
    .table-header.col-organization
      | Organization
    .table-header.col-link
      | Link
    .table-header.col-created
      | Created
    .table-header.col-edit
      | &nbsp;
  .table-content-with-search(#scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)")
    .list(*ngFor="let opportunity of opportunities")
      .d-flex.space-between.bg-white.px-4.py-1.pointer((click)='editOpportunity(opportunity.id)')
        .table-data-primary.col-resource
          | {{opportunity.title}}
        .table-data.col-organization
          | {{opportunity.organization.name}}
        .table-data.col-link
          | {{opportunity.link}}
        .table-data.col-created
          | {{opportunity.created_at}}
        .table-data.col-edit
          i.fa.fa-pencil.edit-row((click)='editOpportunity(opportunity.id)')
    .infinite-scroll-loading(class="infinite-scroll-loading" *ngIf="infiniteScrollLoading")
      |Loading ...