@import "~assets/stylesheets/style-guide";
@import "~assets/stylesheets/mixins";
@import "~assets/stylesheets/shared-classes";
@import "../../prizes.component";

.campaign-title {
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-top: 0px;
}
.campaign-btn {
  margin: -1px 3px;
  width: 130px;
  height: 25px;
  font-size: 12px;
}
.btn-disabled{
  background: #E8BDC4;
  box-shadow: none;
  cursor: default;
}
form{
  width: 100%;
}
input {
  margin-bottom: 15px;
}
.input-label {
  margin: 0;
}
.table-content-with-search {
  height: 200px;
}
.col-start-date {
  width: 20%;
}
.col-end-date {
  width: 20%;
}
.col-quantity {
  width: 18%;
}
.col-redeemed {
  width: 15%;
}
.col-status {
  width: 17%;
}
.col-delete {
  width: 5%;
}
.col-edit {
  width: 5%;
}
.redeemed-input {
  border: none;
}
.current-status {
  .d-flex {
    background-color: #fafafc !important;
  }
  div {
    font-weight: 600;
  }
}
.active-modal-body {
  span {
    color: #FFF;
    font-weight: 300;
    font-size: 13px;
  }
}
.form-group {
  margin-bottom: 0;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  .prizes-btn{
    flex: 1;
  }
}
.delete-btn {
  position: relative;
}
.tooltip {
  visibility: hidden;
  left: 0;
  bottom: 100%;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 99999999999;
}
.delete-btn:hover .tooltip{
  visibility: visible;
}
