.page-wrapper
  .filter-list-page-wrapper
    ion-col.web-filter-col(col-4)
      filter-careers
    ion-col.lp-list-col(col-12, col-md-8)
      .selected-careers-wrapper
        .selected-carrers-header-row
          .selected-careers-count
            | Selected carrer fields: {{selectedCareers.length}}/5
          button.kts-primary-btn.selected-careers-save([disabled]="selectedCareers.length !==5", (click)="saveCareers()")
            | Save
        .selected-careers
          .selected-item(*ngFor="let career of selectedCareers; let i = index")
            .career-title
              | {{career.title}}
            span.close((click)="removeSelectedCareer(i)")
              | &times;          
      .careers-fields-header
        | Select 5 careers fields
      ion-content.lp-list.careers-fields-list(no-padding)
        .careers-fields-item(*ngFor="let career of filterCareersList")
          .careers-fields-item-title
            | {{career.title}}
          button.select((click)="selectCareer(career)")
            | Select       
  .floating-filter-btn()
    | Refine
