page-careers-select {
  color: #232D3B;
  .page-wrapper {
    @include md-max {
      flex-direction: column;
    }
    &:before {
      @include md-max{  
        background-image: none;
      }
    }
  }
  .header-nav {  
    @extend .space-between;
    flex-wrap: wrap; 
    align-items: center; 
    padding-left: 10px; 
    padding-right: 10px;
    margin-top: 10px;
    @include md{    
      padding-left: 0;
      display: none !important;
    }
    .header-title {
      display: flex;
      align-items: center;      
    } 
    .headers {
      font-size: 24px;
      font-weight: normal;      
      margin: 0;
      @include md{          
        font-size: 36px;          
      }
    }
    .arrow-back-icon {
      cursor: pointer;
      font-size: 30px;
      color: #232D3B;
      width: auto;
      background: none;
      padding-left: 5px;
      @include md{
        display: none;
      }
    }
  }  
  .filter-list-page-wrapper {
    background: rgba(255, 255, 255, 0.35);
    padding: 0 20px;
    @include md {
      background: transparent;
    }
  }
  .mobile-version {
    display: flex;
    @include md {
      display: none !important;
    }
  }
  .desktop-flex-version {
    display: none !important;
    @include md {
      display: flex !important;
    }
  }
  .desktop-block-version {
    display: none !important;
    @include md {
      display: block !important;
    }
  }
  .web-filter-col {
    padding-right: 0 !important;
  }  
  .scroll-content {
    bottom: 140px;
  }
  
  .selected-careers-wrapper {
    padding: 10px 0px;
    @include md {
      padding: 10px 20px;
      min-height: 127px;
      border-radius: 7px;
      background-color: #FFFFFF;
      box-shadow: 0 0 5px 0 rgba(64,64,64,0.35);
    }
    .selected-careers-header-row {
      display: flex;
      justify-content: space-between;
      .selected-careers-count {
        font-size: 14px;
        line-height: 17px;
        @include md {
          font-size: 20px;
          line-height: 24px;
        }
      }  
      .selected-careers-save {
        @include md-max {
          display: none;
        }    
      }
      .btn-disabled{
        background: #E8BDC4;
        box-shadow: none;
        cursor: default;
      }
    }
    .selected-careers {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      @include md {
        margin-top: 20px;
      }
      .selected-item {
        display: flex;
        margin:0 10px 10px 0;
        border-radius: 18px;        
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        background: #596577;
        color: #FFF;
      }
      .career-title {        
        font-size: 12px;
        font-weight: 500;
      }
      .close {
        cursor: pointer;
        font-size: 25px;
        margin-left: 15px;
        margin-top: -1px;
        font-weight: 300;
      }
    }
  }
  .selected-careers-save {
    width: 100px;
    height: 25px;
    font-size: 14px; 
    text-align: center;      
    @include md-max{  
      width: auto;            
      font-size: 16px;
      color: $color-primary;       
      background: none;
      box-shadow: none;
      font-weight: normal;  
    }
  }
  .careers-fields-header {
    margin-top: 10px;
    font-size: 14px;
    @include md {
      margin-top: 20px;
      margin-left: 5px;
      font-size: 20px;    
    }
  }
  .lp-list {
    margin-top: 10px;
  }
  .careers-fields-item {
    @extend .space-between;
    align-items: center;
    padding: 5px 20px;
    height: 35px;
    border-radius: 18px;
    background-color: #E9E9F0;
    margin-bottom: 10px;
    @include md {
      background-color: #FFFFFF;
      border-radius: 0;
      margin-bottom: 2px;
    }
    .careers-fields-item-title {
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
    }
    .select {
      display: none;
      color: $color-primary;
      font-size: 11px;
      line-height: 13px;
      cursor: pointer;
      @include md {
        display: block;
      }
    }
  }
}