.page-wrapper
  .filter-list-page-wrapper
    ion-col.web-filter-col(col-4)
      filter-careers
    ion-col.lp-list-col(col-12, col-md-8)
      .selected-careers-wrapper
        .selected-carrers-header-row
          .selected-careers-count
            | Selected carrer fields: 0/5
          .kts-btn.selected-careers-save
            | Save
      .careers-fields-header
        | Select 5 careers fields
      ion-content.lp-list.careers-fields-list(no-padding)
        .careers-fields-item
          .careers-fields-item-title
            | Developer
          button.select
            | Select
        .careers-fields-item
          .careers-fields-item-title
            | Developer
          button.select
            | Select
        .careers-fields-item
          .careers-fields-item-title
            | Developer
          button.select
            | Select
        .careers-fields-item
          .careers-fields-item-title
            | Developer
          button.select
            | Select
        .careers-fields-item
          .careers-fields-item-title
            | Developer
          button.select
            | Select

  .floating-filter-btn()
    | Refine
