@import "~assets/stylesheets/style-guide";


#nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  height: 57px;
  border-bottom: 1px solid $color-nav-underline;
  z-index: 999;
  background-color: white;  
}
.logo-img {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.logo {
  width: 90px;
}
.nav-list{
  padding: 26px 38px 0 0;
  .nav-item{
    height: 31px;
    margin-left: 40px;
  }
  .fa-cog {
    font-size: 20px;
    color: $color-text-main-nav;
    padding-top: 3px;
  }
  .triangle {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    transform: rotate(45deg);
    border-color: white;
    box-shadow: 0 0px 8px 2px lightgrey, 0px 8px 20px 0px lightgrey;
    right: 36px;
    bottom: -18px;
    position: absolute;
  }

  .dropdown{
    display: flex;
    z-index: 999;
    box-shadow: 0 2px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
    width: 130px; 
    padding: 9px;
    justify-content: center;
    position: absolute;
    right: 15px;
    bottom: -37px;
    background: white;
  }
}