.split-page-wrapper
  .split-page-wrapper-inner
    ion-col.split-page.split-page--left(col-md-6, no-padding)
      .split-page-background-image
      img.kts-login-left-logo(src='assets/imgs/kts-white.svg')
          //- onboarding-split-left
    ion-col.split-page.split-page--right(col-12, col-md-6, no-padding)
      img.kts-login-right-logo(src='assets/imgs/kts-white.svg')
      login-form([redirectUrl]="redirectUrl")
      .sponsor-logos
        img.ken-garff(src='assets/imgs/kg-white.svg')
        img.mountain-america(src='assets/imgs/macu-white.svg')