@import "~assets/stylesheets/style-guide";
@import "~assets/stylesheets/mixins";
@import "~assets/stylesheets/shared-classes";
.header-nav {  
  @include space-between;
  flex-wrap: wrap;
  font-family: $font-primary;  
  margin-bottom: 10px;
  z-index: 100;
  .headers{
    margin-bottom: 0;
  }

  .button-group {
    margin-top: -2px;
  }
}
.fixed-header{
  position: fixed;
  z-index: 99;
  width: 990px;
  max-width: 990px;
  min-width: 990px;
  overflow: hidden;
  padding-right: 165px;
  padding-top: 40px;
  background-color: #f5f6fa;
  top: $nav-height;  
  @include xl{
    width: 1110px;
    max-width: 1110px;
    min-width: 1110px;
  }  
}
.resource-button {
  @extend .primary-button;
  @extend .new-button-group;
  width: 170px;
}
.save-button {
  @extend .primary-button;
  @extend .new-button-group;
  width: auto;
}
.cancel-button{
  @extend .secondary-button;
  @extend .new-button-group;
  width: auto;
}
.btn-disabled{
  background: #E8BDC4;
  box-shadow: none;
  cursor: default;
}
.col-resource {
  width: 20%
}
.col-organization {
  width: 30%
}
.col-link {
  width: 35%
}
.col-created {
  width: 10%
}
.col-edit {
  width: 5%;
  text-align: right;
}
.form-content {  
  width: 100%;
  margin-top: 110px;
}
.applicants-view {  
  font-family: $font-primary;
  color: $color-primary;
  font-size: 20px;
  margin-top: 75px;
  padding-top: 0;
  padding-bottom: 20px;
  cursor: pointer;
}
.link-arrow {
  margin-top:-3px;
  margin-left: 3px;
}
.resources-input {
  @extend .input;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-left: 0;
}
.resources-textarea {
  @extend .resources-input;
  height: auto;
}
.item-info {
  margin-bottom: 30px;
}
.input-label {
  @extend .input-label;
  margin-left: 0;
}
.delete-button {
  @extend .secondary-button;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
}
// Custom Checkbox Style
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .4em; left: .215em;
  font-size: 1em;
  line-height: 0.8;
  color: #000;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.resources {
  position: relative;
  .newBtn{
      width: 180px;
      margin: 0;
  }
  .newTabs{
      border-bottom: 1px solid $color-nav-underline;
  }
  .newSubNav{
      position: relative;
      cursor: pointer;
      width: auto;
      height: 40px;
      padding: 0 20px;
  }  
}
