.notifications-widget-wrapper
  .notifications-title-row
    h1.notifications-header 
      | Notifications
    a.notifications-link(href="")
      | View all
  a.notificaitons-items
    .notifications-data
      h2.single-notification-header
        | Test title
      h3.single-notification-organization
        | Test Organization
    img.link-arow(src="../../assets/icon/link-arrow.svg") 