.col-prize {
  width: 30%
}
.col-sponsor {
  width: 20%
}
.col-delivery {
  width: 13%
}
.col-quantity {
  width: 10%
}
.col-redeemed {
  width: 10%
}
.col-period {
  width: 12%
}
.col-edit {
  width: 5%;
  text-align: right;
}
