get-started-banner(*ngIf="(showBanner() == 'desktop') && userHasNoCareer")
.page-wrapper
  ion-content.content-wrapper
    ion-row
      ion-col.single-column(col-12, col-md-4)
        .fixed-content
          ion-col.lp-list-col.header-wrapper(col-12, col-md-8)
            mobile-header([isScrolled]="isScrolled", [title]="title")
            get-started-banner(*ngIf="showBanner() == 'mobile' && userHasNoCareer")
        .spacer-110(*ngIf="showBanner() == 'mobile' && userHasNoCareer")
        messageboard-widget
        progress-widget
        notifications-widget.notifications-mobile
        a.about-KTS.kts-link((click)="goToPage('AboutUsPage')")
          | About KTS
          img.link-arrow(src="assets/icon/link-arrow.svg")
        a.contact-us.kts-link((click)="goToPage('ContactUsPage')")
          | Contact Us
          img.link-arrow(src="assets/icon/link-arrow.svg")
        a.my-careers.kts-link((click)="goToPage('MyCareersPage')")
          | My Careers
          img.link-arrow(src="assets/icon/link-arrow.svg")
        .social-media
          h2.social-media-header
            | Check out Keys to Success on these platforms! 
          a.socmed-icon(href="https://www.facebook.com/KeystoSuccessUtah/")
            img(src="assets/icon/facebook-icon.svg", alt="facebook")
          a.socmed-icon(href="https://www.instagram.com/ktsutah/?hl=en")
            img(src="assets/icon/instagramicon.svg", alt="instagram")
          a.socmed-icon(href="https://twitter.com/ktsutah?lang=en")
            img(src="assets/icon/twitter_icon.svg", alt="twitter")  
        .sponsor-logos
          img.ken-garff(src="assets/imgs/kg-color.svg", alt="Ken Garff")
          img.mountain-america(src="assets/imgs/macu-color.svg", alt="Mountain America Credit Union")  
      ion-col.right-column(col-12 col-md-8)
        notifications-widget.notifications-desktop
