page-my-kts {
  .content-wrapper{    
    width: 1200px;
    max-width: 1200px;
    z-index: 2;
    margin: 10px 0;
    @include md{
      margin: 0px;
    }
  }
  .lp-list {
    .scroll-content {      
      padding-top: 0;
      padding-bottom: 100px;
      @include md{
        padding-top: 20px;
        padding-bottom: 50px;
      }
    }
  }
  .kts-header-mobile {
    margin-left:15px;
  }
  .single-column{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;    
    min-height: auto;
    height: auto;
    @include md{      
      padding: 10px 0 0 0;
    }
  }
  .header-wrapper{
    position: fixed;
  } 
  // Notifications
  .notifications-mobile{
    margin: 10px 0 0;
    @include md{
      display: none;
    }
  }
  .right-column{
    padding-left: 1%;
    @include md{
      margin: -10px 0 0 0;
    }
  }
  .notifications-desktop{
    padding: 10px 5px;
    width: 100%;
    overflow-y: auto;
    display: none;
    @include md{
      display: inline;
    }
  }

  .kts-link{
    margin: 20px 15px 20px 15px;
    @include md{
      margin: 20px 8px 20px 12px;
    }
  }
  // Social Media
  .social-media{
    height: 70px;
    margin: 25px 5px 10px 5px;
    text-align: center;
    @include md{
      min-width: 240px;
    }
  }
  .social-media-header{
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 16px;
    @include md{
      font-size: 12px;
    }
    @include lg{
      font-size: 16px;
    }
  }
  .socmed-icon{
    margin: 0 15px;
    @include sm{
      margin: 0 25px;
    }
    @include md{
      margin: 0 15px;
    }
    position: relative;
  }
  .negative-margin {
    margin: -7px;
  }
  .fixed-content {
    z-index: -1;
  }
}
