page-my-kts {
  .content-wrapper{
    margin: 10px 0 0 0;
    width: 1080px;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    @include md{
      flex-direction: row;
    }
  }
  .single-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    @include md{
      width: 33%;
    }
  }


  // Links
  .kts-link{
    background: white;
    color: $color-text-primary;
    cursor: pointer;
    height: 37px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    padding: 0 0 0 20px;
    margin: 10px 15px 10px 15px;
    @include md{
      margin: 10px 5px 10px 10px;
    }
    box-shadow: 0 0 10px 5px #CCC;
    @include md{
      box-shadow: 0 0 4px 2px #CCCCCC;
    }
  }
  .link-arrow{
    margin: 0 10px 0 0;
  }


  // Notifications
  .notifications-mobile{
    margin: 10px 15px 10px 15px;
    @include md{
      display: none;
    }
  }
  .right-column{
    margin-left: 1%;
    width: 66%;
    display: none;
    @include md{
      display: flex;
    }
  }
  .notifications-desktop{
    margin: 0 5px 10px 5px;
    width: 100%;
  }


  // Social Media
  .social-media{
    height: 70px;
    margin: 25px 5px 10px 5px;
    text-align: center;
  }
  .social-media-header{
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 16px;
    @include md{
      font-size: 12px;
    }
    @include lg{
      font-size: 16px;
    }
  }
  .socmed-icon{
    margin: 0 15px;
    @include sm{
      margin: 0 25px;
    }
    @include md{
      margin: 0 15px;
    }
    position: relative;
  }

}
