.page-wrapper
  .content-wrapper
    .left-column    
      .organization
        img.logo(src="https://images-na.ssl-images-amazon.com/images/I/41sfz8dKX1L._SL500_AC_SS350_.jpg")
        .title
          | University of Utah Alumni
        .price
          | $30000.00
        button.apply-button
          | Apply
    .right-column
      .description
        .description-title
          | Description
        .description-content
          | Under the direction and guidance of the assistant Director of Human Resources, will provide assistance and support ub developing, 
          | implementing, and overseeing all aspects of the HR function, specifically, recruiting, as well as, employee/labor relations, liability,
          | worker's compensation, employee benefits and wellness, training, on boarding, engagement, and unemployment. Position requires demonstration of 
          | competency for all on-the-job activities that may have a direct or indirect affect on product safety, legality and/or quallity.