@import "../../../theme/variables.scss";
page-contact-us {
  .content-wrapper{
    margin: 10px 0 0 0;
    width: 1080px;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    @include md{
      flex-direction: row;
    }
  }
  .left-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    @include md{
      width: 33%;
    }
  }
  .right-column{
    display: flex;
    margin-left: 1%;
    width: 100%;    
    @include md{      
      width: 66%;
    }
  }
}