.page-wrapper
  .content-wrapper
    .left-column    
      .organization
        img.logo(src="https://images-na.ssl-images-amazon.com/images/I/41sfz8dKX1L._SL500_AC_SS350_.jpg")
        .title
          | University of Utah Alumni
        .price
          | $30000.00
        button.apply-button
          | Apply
    .right-column
      | Right