.split-page-wrapper
  .split-page-wrapper-inner
    ion-col.split-page.split-page--left(col-md-6, no-padding)
      .split-page-background-image
          //- onboarding-split-left
    ion-col.split-page.split-page--right(col-12, col-md-6, no-padding)
      signup-form