page-signup {
  @extend page-login;
  overflow: auto;
  @include md {
   overflow: hidden;
  }
  .split-page-wrapper-inner {
    background: linear-gradient(180deg, #F2F6F8 0%, #F8F0F5 100%);
  }
  .split-page--right {
    overflow-y: overlay;
  }
}
