.page-wrapper
  .content-wrapper
    .left-column
      .select-careers.search(*ngIf="currentUser.careers && currentUser.careers.length > 0")
        .search-comment 
          | You have selected careers! Now you can search:
        .button-group
          .kts-primary-btn.category-button((click)="gotoCareesPage('internship')")
            | Internships
          .kts-primary-btn.category-button((click)="gotoCareesPage('scholarship')")
            | Scholarships    
      selected-careers-widget.mobile-version([careers]="currentUser.careers")             
      .select-careers    
        .title
          | {{title}}
        a.kts-card-item.career-type
          .type-name
            | Select based on personality traits.
          img.link-arow(src="../../assets/icon/link-arrow.svg") 
        a.kts-card-item.career-type
          .progress-card-data
            | Select based on career categories
          img.link-arow(src="../../assets/icon/link-arrow.svg") 
    .right-column      
      selected-careers-widget.desktop-version([careers]="currentUser.careers")        