.page-wrapper
  .spinner-container(*ngIf="loading")
    ion-spinner
  .content-wrapper
    ion-col.lp-list-col(col-12 col-md-8)
      mobile-header([isScrolled]="isScrolled", [title]="title")
    ion-content.lp-list
      .my-careers-content
        .left-column
          .select-careers.search(*ngIf="currentUser.careers && currentUser.careers.length > 0")
            .search-comment 
              | You have selected careers! Now you can search:
            .button-group
              .kts-primary-btn.category-button((click)="gotoCareesPage('internship')")
                | Internships
              .kts-primary-btn.category-button((click)="gotoCareesPage('scholarship')")
                | Scholarships    
          selected-careers-widget.mobile-version
          .select-careers    
            .title
              | {{sub_title}}
            a.kts-card-item.career-type((click)="gotoSelectCareers('personality')")
              .type-name
                | Select based on personality traits.
              img.link-arow(src="assets/icon/link-arrow.svg") 
            a.kts-card-item.career-type((click)="gotoSelectCareers('categories')")
              .progress-card-data
                | Select based on career categories
              img.link-arow(src="assets/icon/link-arrow.svg") 
        .right-column      
          selected-careers-widget.desktop-version        
