@import "~assets/stylesheets/style-guide";
@import "~assets/stylesheets/mixins";
@import "~assets/stylesheets/shared-classes";
.header-nav {
  @include space-between;
  flex-wrap: wrap;
  font-family: $font-primary;
}

.approvals {
  position: relative;
  .newBtn{
      width: 180px;
      margin: 0;
  }
  .newTabs{
      border-bottom: 1px solid $color-nav-underline;
  }
  .newSubNav{
      position: relative;
      cursor: pointer;
      width: 110px;
      height: 40px;
  }  

  .col-resource {
    width: 20%
  }
  .col-organization {
    width: 30%
  }
  .col-link {
    width: 35%
  }
  .col-created {
    width: 10%
  }
  .col-edit {
    width: 5%;
    text-align: right;
  }

}