.page-wrapper
  #prizes.content-wrapper
    ngx-loading([show]='creating') 
    form.form-group(#prizeForm="ngForm" (ngSubmit)="savePrize(prizeForm.valid)" novalidate)
      .header-nav
        h1.headers
          | {{title}}
        .button-group
          button.prizes-btn.primary-button(type="submit" [ngClass]="{'btn-disabled': disableFlag, 'feedback-btn': !disableFlag}" [disabled]="disableFlag")
            span            
              | Save
          button.prizes-btn.secondary-button.feedback-btn(type="button" (click)="goBack()") 
            span
              | Cancel   
      .wrapper-content 
        .item-info
          .input-label
            | NAME
            .invalid-validation([hidden]="name.valid || (name.pristine && !prizeForm.submitted)")
              | Name is required
          input.prize-input(type="text" name="name" [(ngModel)]='prize.title' (ngModelChange)="onChange($event)" #name="ngModel" required)                         
        .item-info
          .input-label
            | SPONSOR
            .invalid-validation([hidden]="selectedSponsor.length > 0 || !prizeForm.submitted")
              | Sponsor is required
          angular2-multiselect(
            name = 'sponsor'
            [data]='sponsorList'
            [(ngModel)]='selectedSponsor'
            [settings]='ktsSelectSettings'
            (onSelect)='onSponsorSelect($event)'
            (onDeSelect)='onSponsorDeSelect($event)'
          )
        .item-info
          .input-label
            | DELIVERY
            .invalid-validation([hidden]="selectedDelivery.length > 0 || !prizeForm.submitted")
              | Delivery is required
          angular2-multiselect(
            name = 'delivery'
            [data]='deliveryList'
            [(ngModel)]='selectedDelivery'
            [settings]='ktsDeliverySelectSettings'
            (onSelect)='onDeliverySelect($event)'
            (onDeSelect)='onDeliveryDeSelect($event)'
          )  
    .campaign-content
      app-campaign([prizeId]="prize.id" (refreshPage)="getPrize(prize.id, false)" [campaigns]="prize.prize_campaigns")       
                      
