ion-col.lp-list-col(col-12 col-md-8)
  mobile-header([isScrolled]="isScrolled", [title]="title", [isArrowBack]="'true'")
ion-content.page-wrapper
  .spinner-container(*ngIf="loading")
    ion-spinner
  .prizes-page-wrapper
    .prizes-page-background
      .prizes-page-prize-image
    .prizes-page-prize-wrapper
      .prizes-page-prize-logo
        img.prizes-org-image(src="{{imageUrlCreate(prize.organization.id, prize.organization.images[0])}}", alt="Image not found", onerror="this.onerror=null;this.src='assets/icon/prize_placeholder.svg'")
      .prizes-page-content-button-wrapper
        .prize-page-content-wrapper
          .prizes-page-prize-title
            | {{prize.title}}
          .prizes-page-prize-org
            | {{prize.organization.name}}
          .line-div  
            .prizes-page-break-line
          .prizes-page-prize-points
            | {{prize.points}} Points
        button.kts-primary-btn.select-prize((click)="goToRedeemPage(prize.id)") 
          | Select Prize