.page-wrapper
  .notifications-page-wrapper
    .kts-card-wrapper
      //- a.kts-card-item( *ngFor="let notification of notifications" (click)="goToPage"($event))
      //-   .kts-card-data
      //-     h2.kts-card-item-header
      //-       | {{notification.title}}
      //-     h3.kts-card-item-info
      //-       | {{notification.orgainzation}}
      //-   img.link-arow(src="../../assets/icon/link-arrow.svg") 

      