//Positioning
html{
  color: #232D3B;
}
ion-content{
  color: #232D3B;
}
.content-md{
  color: #232D3B;
}
h1, h2, h3, h4, h5, h6, p{
  color: #232D3B;
}

.flex {
  display: flex;
}
.center {//this will center horizontal and vertical
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-y {//centers vertically
  display: flex;
  align-items: center;
}

.center-x {//centers horizontally
  display: flex;
  justify-content: center;
}
.justify-end {
  display: flex;
  justify-content: flex-end;
}
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.baseline {
  display: flex;
  align-items: baseline;
}
.align-end {
  display: flex;
  align-items: flex-end;
}
.align-center {
  display: flex;
  align-items: center;
}
.full-width {
  width: 100%
}

//spacers

.spacer-10 {
  height: 10px;
}
.spacer-25 {
  height: 25px;
}
.spacer-30 {
  height: 30px;
}
.spacer-35 {
  height: 35px;
}
.spacer-50 {
  height: 50px;
}
.spacer-100 {
  height: 100px;
}

//padding

.padding-x {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

//overflow

.ovf-hidden {
  overflow: hidden;
}

//wrappers
.full-page-wrapper {
  height: 100vh;
  width: 100vw;
  background-image: white;
}

//No Content

.no-content-text{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: #A8A8AF;
  font-size: 20px;
  font-weight: 600;
  .-link {
    font-size: 20px !important;
    font-weight: 600 !important; 
  }
}

//buttons

.kts-primary-btn {
	height: 40px;
  border-radius: 7px;
  background-color: #E41C3D;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.35);
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  cursor: pointer;
}

.kts-link{
  background: white;
  color: $color-text-primary;
  cursor: pointer;
  height: 37px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  padding: 0 0 0 20px;
  margin: 10px 15px 10px 15px;
  @include md{
    margin: 10px 5px 10px 10px;
  }
  box-shadow: 0 0 10px 5px #CCC;
  @include md{
    box-shadow: 0 0 4px 2px #CCCCCC;
  }
  .link-arrow{
    margin: 0 10px 0 0;
  }
}


//inputs
.kts-input {
  @extend .center-y;
  height: 36px;
  border: 1px solid #E9E9F0;
  border-radius: 5px;
  background-color: $color-input-field-background;
  color: $input-font-color;
  margin-top: 3px;
  color: #232D3B;
}
.kts-input-label {
  font-size: 12px !important;
  font-weight: 300;
  line-height: 14px;
}


//headers
.kts-header {
  font-size: 36px;
  line-height: 43px;
}
.kts-header-mobile {
  font-size: 24px;
  padding-left: 10px;
  font-weight: 400;
}
.mobile-header-wrapper {
  @extend .space-between;
  align-items: center;
  padding-left: 10px;
  @include md {
    display: none!important;
  }
}
.mobile-header-wrapper {
  @extend .space-between;
  align-items: center;
  @include md {
    display: none!important;
  }
}


//layout
.page-wrapper {
  position: relative;
  width: 100vw;
  @extend .center-x;
  height: calc(100vh - #{$nav-height-mobile});
  background-image: url("../assets/imgs/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include md {
    top: $nav-height;
    height: calc(100vh - #{$nav-height});
  }
  &::before {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    content: '';
    background-image: linear-gradient( to top, rgba(255, 255, 255, 0.01) 65%, rgba(255, 255, 255, 1) );
  }
}

.page-wrapper-simple {
  position: relative;
  width: 100vw;
  @extend .center-x;
  height: calc(100vh - #{$nav-height-mobile});
  @include md {
    margin-top: $nav-height;
    height: calc(100vh - #{$nav-height});
  }
}


// onboarding

.onboarding-bottom-section {
  @extend .center;
  flex-direction: column;
  .bottom-question {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
  }
  .bottom-link {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    cursor: pointer;
  } 
}


//validations

.invalid-validation {
  font-size: 11px;
  color: red;
  position: relative;
  font-weight: 100;
  margin-left: 10px;
}
.valid-validation {
  @extend .invalid-validation;
  font-weight: 500;
  color: green;
}
.label-with-validation {
  display: flex;
  align-items: center;
}


//filter list pages

.filter-list-page-wrapper {
  height: 100%;
  width: 100%;
  @extend .center-x;

  .web-filter-col {
    padding: 48px 15px 15px 15px;
    border-right: 1px solid #D8DDE6;
    border-left: 1px solid #D8DDe6;
    background-color: #FFFFFF;
    display: none;
    max-width: 350px;
    @include md {
      display: flex;
      flex-direction: column;
    }
  }
}
.lp-list-col {
  padding: 0 0 !important;
  @include md{
    padding: 15px 0 0 10px !important;
  }
}
.lp-list {
  $search-and-tab-height: 34px;
  $search-and-tab-height-mobile: 60px;

  height: calc(100vh - #{$search-and-tab-height-mobile} - #{$nav-height-mobile});
  width: 100%;
  @include md {
    height: calc(100vh - #{$search-and-tab-height} - #{$nav-height});
  }
  .scroll-content {
    padding: 20px 7px;
    margin-bottom: 65px;
    @include md {
      padding: 20px 7px 20px 12px;
    }
  }
  .lp-item {
    @extend .center-y;
    height: 90px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 1px rgba(191,191,191,0.5);
    margin-bottom: 10px;
    cursor: pointer;
    .lp-item-image {
      display: flex;
      height: 100%;
      width: 90px;
      min-width: 90px;
      padding: 10px;
      object-fit: cover;
    }
    .lp-item-info-col {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px;
      .lp-item-title {
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
      }
      .lp-item-value {
        font-size: 12px;
        line-height: 14px;
      }
      .lp-item-description {
        font-size: 11px;
        color: #8A9099;
        overflow: hidden !important;
      }
      
    }
  }
}
.lp-tabs-wrapper {
  @extend .center-y;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 1px;
  @include md{
    margin-bottom: 0px;
  }
  @include md{
    margin-top: 17px;
  }
  .lp-tab {
    @extend .center;
    padding-bottom: 5px;
    width: 50%;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #7A8799;
    cursor: pointer;
    &.active-tab {
      border-bottom: 2px solid red;
      color: $color-primary;
    }
  }
}
.filter-header {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding-left: 22px;
  line-height: 19px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E9E9F0;
  margin-bottom: 30px;
  &::before {
    content: url('../assets/icon/filter_icon.svg');
    margin-right: 15px;
  }
}
.filter-item {
  @extend .center-y;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 30px;
}
.filter-select {
  padding: 0 20px;
  .kts-input-label {
    font-size: 14px !important;
    line-height: 17px;
    font-weight: 300;
  }
  
}

.floating-filter-btn {
  //add as a direct child of .page-wrapper
  $floating-filter-btn-width: 95px;
  @extend .center;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  height: 33px;
  width: $floating-filter-btn-width;
  position: absolute;
  bottom: 10px;
  left: calc(50vw - (#{$floating-filter-btn-width}/2));
  cursor: pointer;
  border-radius: 19px;
  background-color: #FFFFFF;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
  z-index: 999999;
  @include md {
    display: none;
  }
  @include iphone-x {
    bottom: 80px;
  };
}

  // kts card
  
  .kts-card-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 715px;
    width: auto;
    padding: 30px;
    margin: 0 15px;
    @include md{
      box-shadow: 0 0 4px 2px $color-shadow;
      border-radius: 6px;
      padding: 24px 40px 0 40px;
      margin: 0 60px;
    }
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px $color-shadow;
  }
  .kts-card-title-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 53px;
  }
  .kts-card-header{
    font-size: 24px;
    line-height: 24px;
    @include md{
      font-size: 28px;
      line-height: 29px;
    }
    font-weight: 300;
    margin: 0 0 0 0;
  }
  .kts-card-link{
    font-size: 14px;
    line-height: 17px;
    @include md{
      font-size: 18px;
      line-height: 19px;
    }
    color: $color-primary;
    text-decoration: none;
    font-weight: 400;
  }
  .kts-card-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 0 20px 0;
  }
  .kts-card-data{
    width: 80%;
  }
  h2, h3{
    margin: 0;
  }
  .kts-card-item-header{
    font-size: 14px;
    @include md{
      font-size: 24px;
    }
    font-weight: 400;
    color: $color-text-primary;
  }
  .kts-card-item-info{
    font-size: 11px;
    @include md{
      font-size: 20px;
    }
    font-weight: 400;
    color: $color-sub-header;
  }

  // Gradient
  .kts-gradient {
    background: linear-gradient(180deg, #F2F6F8 0%, #F8F0F5 100%);
  }

  // Loader
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 65px 200px 0;
    width: 100vw;
    height: 100vh;
    z-index: 10 !important;
    position: absolute;
   }
    ion-spinner * {
      width: 80px !important;
      height: 80px !important;
      stroke: $color-primary !important;
    }


