//  KTS - Style Guide
//  ------------------------------
//
//  Index:
//
//  1. Global
//  2. Colors
//  3. Typography
//  4. Button
//  5. Navigation


//  1. Global

//  2. Global Colors

$color-primary: #E41C3D;
$color-primary-lt: #E11F3F;
$color-card-background: #fafafa;
$color-search-field-background: #FFFFFF;
$color-input-field-background: #FFFFFF;
$color-nav-background: #ffffff;
$color-shadow: #CCCCCC;

//  3. Typography
$color-text-primary: #232D3B;
$font-size-primary: 12px;
$font-size-input-body: 12px;
$input-font-color: black;
$color-sub-header: #8A9099;
//  4. Button

//  5. Navigation
$nav-height: 56px;
$nav-height-mobile: 45px;