.page-wrapper
  .about-wrapper    
    .header-nav
      h1.headers
        | About KTS        
    .about-content.scroll-content
      .about-section
        .section-title
          | What is Keys to Success?
        .section-content
          | We aim to motivate, recognize and reward high school students through academic achievement or improvement.
      .about-section
        .section-title
          | What is a Key Card?
        .section-content
          | Students are rewarded by teachers with Key Cards! They can be earned two ways:
          ol
            li 
              | Instant Recognition: Your teacher may recognize you for academic improvement and reward you with a Key Card!
            li 
              | Goal Setting: Talk to your teacher and set a goal. After accomplishment, you'll earn a Key Card!
          | When you receive a Key Card, you can redeem it for a specific prize of your choosing.  
      .about-section
        .section-title
          | How can I earn a scholarship?
        .section-content
          | We offer over $300,000 worth of scholarships to Utah high schools! When you receive a Key Card, talk to your counselor about the KTS scholarships available at your school.          
          br
          | Most Key to Success scholarships are available to Seniors only.
          
    
  