page-filter {
  background: #fff;
  .filter-mobile-header {
    @extend .center-y;
    justify-content: space-between;
    padding: 10px 10px 25px;
    border-bottom: 1px solid #F0F1F6;
    .filter-done-btn {
      color: $color-primary;
      cursor: pointer;
      font-size: 16px;
      line-height: 19px;
    }
    
  }

}
