@import "../../../theme/variables.scss";
page-scholarshipapply {
  .page-wrapper {
    background: none;
    &:before {
      @extend .kts-gradient;
      opacity: .4;
    }
  }
  .header-nav {  
    @extend .space-between;
    flex-wrap: wrap; 
    align-items: center;
    .header-title {
      display: flex;
      .arrow-back-icon {
        cursor: pointer;
        font-size: 30px;
        color: #232D3B;
        margin-right: 10px;
        @include md{
          display: none;
        }
      }
    }
    .headers {
      font-size: 24px;
      margin: 0;
      font-weight: normal;
      @include md{
        font-size: 36px;
      }
    }
    .send-button {
      width: 135px;
      height: 35px;
      font-size: 18px;                     
      @include md-max{  
        width: auto;            
        font-size: 16px;
        color: $color-primary;       
        background: none;
        box-shadow: none;
        font-weight: normal;  
      }
    }            
  }
  .content-wrapper {
    position: relative;
    z-index: 2;
    width: 1080px;
    max-width: 1080px;
    margin: 10px 25px;    
    @include md{
      margin: 20px 15px;    
    }
  }
  .form-content {
    overflow-y: auto;
    margin-top: 50px;
    @include md{
      margin-top: 70px;
    }
  }
  .notify-comment {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: #949ead;  
    margin-bottom: 20px;
    @include md{
      display: none;
    }  
  }
  .item-info {
    margin-bottom: 15px;
  }
  .input-label {
    @extend .input-label;
    @extend .center-y;
    color: #232d3b;
    font-weight: 300;
    font-size: 12px;
    padding-left: 2px;
  }
  .input-label-comment {
    @extend .input-label;
    font-size: 14px;
    margin-top: 20px;
    font-weight: normal;
    flex-direction: column;
    align-items: left !important;
    .invalid-validation {
      margin-left: 0;
      @include md{
        margin-left: 10px;
      }
    }
    @include md{
      margin-top: 30px;
      flex-direction: unset;      
      align-items: center !important;
    }
  }
  .kts-input {
    @extend .kts-input;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  .kts-textarea {
    @extend .kts-input;
    height: auto !important;
    resize: none;
  }
}
