#tutorial-page
  .tutorial-page-wrapper 
    ion-slides(pager='true', centeredSlides="true")
      ion-slide
        .slide-one-background
          img.tutorial(src='../assets/imgs/tutorial/screen-one-content.svg')
      ion-slide
        img.tutorial(src='../assets/imgs/tutorial/screen-two-content.svg')
      ion-slide
        img.tutorial(src='../assets/imgs/tutorial/screen-three-content.svg')
      ion-slide
        img.tutorial(src='../assets/imgs/tutorial/screen-four-content.svg')
      ion-slide
        img.tutorial(src='../assets/imgs/tutorial/screen-five-content.svg')
      ion-slide
        img.tutorial(src='../assets/imgs/tutorial/screen-six-content.svg')
