page-tutorial {
  .tutorial-page-wrapper {
    @extend .center;
    width: 100vw;
    height: 100vh;
   
    background: linear-gradient(180deg, rgba(235, 49, 96, 1) 0%, rgba(191, 99, 164, 1) 100%);
  }

  .slide-one-background {
    background-image: url("../assets/imgs/tutorial/screen-one-background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  .tutoiral {
    @extend .center;
    object-fit: contain;
    img {
      width: 100%;
      
    }
  }
}
