#tutorial-page
  .tutorial-page-wrapper 
    ion-slides(pager='true', centeredSlides="true")
      ion-slide.slide-one-background.slide-wrapper
        img.tutorial-first(src='assets/imgs/tutorial/page-1.png')
      ion-slide.slide-wrapper
        img.tutorial(src='assets/imgs/tutorial/page-2.png')
      ion-slide.slide-wrapper
        img.tutorial(src='assets/imgs/tutorial/page-3.png')
      ion-slide.slide-wrapper
        img.tutorial(src='assets/imgs/tutorial/page-4.png')
      ion-slide.slide-wrapper
        img.tutorial(src='assets/imgs/tutorial/page-5.png')
      ion-slide.slide-wrapper
        img.tutorial((click)="goToMyKts()", tappable, src='assets/imgs/tutorial/welcome.png')
