#keycardindex {
  .col-prize {
    width: 20%;
    margin-left: -10px;
  }
  .col-status {
    width: 15%
  }
  .col-delivery {
    width: 10%
  }
  .col-recipient {
    width: 15%
  }
  .col-school {
    width: 20%
  }
  .col-awarded {
    width: 15%
  }
  .col-delivered {
    width: 15%;
  }
}