signup-form {
  color: $color-text-primary;
  width: 75%;
  max-width: 500px;
  margin-top: 100px;
  .signup-header-wrapper {
    @extend .center-y;
    justify-content: space-between;
    .next-button {
      width: 135px;
      height: 35px;
    }
  }
  .signup-bottom-section {
    margin-top: 50px;
    .bottom-link {
      font-weight: 500;
    }
  }

  @include md {
    margin-top: 150px;
  }


}
