.page-wrapper
  .content-wrapper
    form.form-group(#contactForm="ngForm", (ngSubmit)="sendMessage(contactForm.valid)", novalidate)
      .header-nav
        h1.headers
          | Contact Us
        .button-group
            button.kts-primary-btn.send-button(type="submit")
              | Send
      .form-content.scroll-content
        .item-info
          .input-label
            | FULL NAME
          input.kts-input(type="text", name="fullname", [(ngModel)]="fullName", #fullname="ngModel", required, disabled="true")
        .item-info
          .input-label
            | Email
            .invalid-validation([hidden]="email.valid || (email.pristine && !contactForm.submitted)")
              | An email is required
          input.kts-input(type="text", name="email", [(ngModel)]="Email", #email="ngModel", required) 
        .item-info
          .input-label
            | PHONE NUMBER
            .invalid-validation([hidden]="phone.valid || (phone.pristine && !contactForm.submitted)")
              | Phone number is required
          input.kts-input(type="text", name="phone", [(ngModel)]="phoneNumber", #phone="ngModel", required) 
        .item-info
          .input-label
            | CATEGORY OF INQUIRY
            .invalid-validation([hidden]="selectedCategory.length > 0 ||!contactForm.submitted")
              | Category is required
          angular2-multiselect(
            name = 'category',
            [data]='categoryList',
            [(ngModel)]='selectedCategory',
            [settings]='ktsSelectSettings',
            (onSelect)='onCategorySelect($event)'            
          )
        .item-info
          .input-label
            | MESSAGE
            .invalid-validation([hidden]="message_content.valid || (message_content.pristine && !contactForm.submitted)")
              | Message is required
          textarea.kts-textarea(rows='10', name="message_content", [(ngModel)]="message", #message_content="ngModel", required)          
          
