#students
  .search-bar
    i.fa.fa-search.search-icon
    input.search-text(type="text" placeholder="Search students..." [(ngModel)]='searchText' (keyup.enter)='searchItems()')
  ngx-loading([show]='loading')  
  .d-flex.space-between.py-1
    .table-header.mx-4.col-student
      | Student
    .table-header.mx-4.col-school
      | School
    .table-header.mx-4.col-grade
      | Grade
    .table-header.mx-4.col-email
      | Email
    .table-header.mx-4.col-edit
      | &nbsp;
  .table-content-with-search(#scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)")
    .list(*ngFor="let student of students")
      .d-flex.space-between.bg-white.py-1.pointer((click)='editStudent(student.id)')
        .table-data-primary.mx-4.col-student
          | {{student.getName()}}
        .table-data.mx-4.col-school
          | {{student.organization.name}}
        .table-data.mx-4.col-grade
          | Grade
        .table-data.mx-4.col-email
          | {{student.email}}
        .table-data.mx-4.col-edit
          i.fa.fa-pencil.edit-row((click)='editStudent(student.id)')
    .infinite-scroll-loading(class="infinite-scroll-loading" *ngIf="infiniteScrollLoading")
      | Loading ...