.page-wrapper
  .content-wrapper
    .left-column    
      .organization
        img.logo(src="https://image.ibb.co/b8di2n/logo1.png")
        .title
          | University of Utah Alumni
        button.kts-primary-btn.place-order-button
          | Place Order
    .right-column
      .description
        .description-title
          | Description
        .description-content
          | Remaining balance:          