.page-wrapper
  .content-wrapper
    ion-col.lp-list-col(col-12 col-md-8)
      mobile-header([isScrolled]="isScrolled", [title]="title")
    ion-content.lp-list
      ion-row(wrap)
        .category-title
          | Title
        .line
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/ken_graff_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/mountain_america_logo.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Platinum
        .line
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/academy_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/utah_educational_logo.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Gold
        .line
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/octanner_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='../../../assets/imgs/sponsors/permaplate_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/synthetic_logo.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Silver
        .line
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='../../../assets/imgs/sponsors/alpine_logo.svg') 
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='../../../assets/imgs/sponsors/bear_river_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='../../../assets/imgs/sponsors/bridgerland_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/diversified_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/davistech_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/ivory_homes_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/odgen_weber_logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='../../../assets/imgs/sponsors/tooele_technical_logo.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Media
        .line 
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='../../../assets/imgs/sponsors/news_expect_more_logo.svg') 
      
        
        