.page-wrapper-simple
  .content-wrapper
    ion-col.lp-list-col(col-12 col-md-8)
      mobile-header([isScrolled]="isScrolled", [title]="title")
    ion-content.lp-list
      ion-row.margin-top-20(wrap)
        .category-title
          | Title
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/ken-garff-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/mountain-america-logo.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Platinum
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/academy-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/utah-educational-logo.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Gold
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/a-core.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/octanner-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/permaplate-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/synthetic-logo.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Silver
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/alpine-logo.svg') 
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/bear-river-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/bridgerland-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/dental-select-1.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/diversified-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/davistech-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/ivory-homes-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/mtech.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/odgen-weber-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/tooele-technical-logo.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/utech.svg')
        ion-col.sponsor-col(col-12, col-md-6)
          img.small(src='assets/imgs/sponsors/workers-compensation-fund.svg')
      ion-row.margin-top-50(wrap)
        .category-title
          | Media
      ion-row(wrap)
        ion-col.sponsor-col(col-12, col-md-6)
          img.normal(src='assets/imgs/sponsors/news-expect-more-logo.svg') 
      
        
        