page-notifications, parent-notifications {
    .notifications-page-wrapper{
      width: 100%;
      height: 100%;
      z-index: 2;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .mobile-header-wrapper {
        @include md {
          display: flex;
          flex-direction: column;
          margin-left: 60px;
          font-size: 36px;
          line-height: 43px;
          padding: 15px 0 20px 15px;
        }
      }

      .notifications-col {
        @include md {
        max-width: 100% !important;
        display: flex;
        justify-content: center;
        }
        .title-header {
          display: none;
          @include md {
            display: block;
            width: 800px !important;
            margin: 20px 15px 20px 15px;
            font-size: 36px;
          }
        }
      }
      .lp-list {
        .scroll-content {
          padding-bottom: 100px;
        }
      }
      .kts-header-mobile {
        margin-left: 10px;
      }
      .notification-page-title {
        display: none;
        width: 800px;
        @include md {
          padding-top: 10px;
          display: block;
          z-index: 1;
          font-size: 36px;
        }
      }    
      .kts-card {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        margin: -10px 0 0 0;
      }
      .kts-card-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 715px;
        width: 800px;
        max-width: 800px;
        padding: 30px 20px 15px 30px;
        margin: 0;
        @include md{
          box-shadow: 0 0 4px 2px $color-shadow;
          border-radius: 6px;
          padding: 35px 25px 20px 40px;       
        }
        display: flex;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 10px 5px $color-shadow;
      }
      .kts-card-title-row{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        height: 53px;
      }
      .kts-card-header{
        font-size: 24px;
        line-height: 24px;
        @include md{
          font-size: 28px;
          line-height: 29px;
        }
        font-weight: 300;
        margin: 0 0 0 0;
      }
      .kts-card-link{
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: space-between;
        @include md{
          font-size: 18px;
          line-height: 19px;
          
        }
        color: $color-primary;
        text-decoration: none;
        font-weight: 400;
      }
      .kts-card-item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        margin: 0 0 20px 0;
      }
      .kts-card-data{
        width: 80%;
        padding-bottom: 15px;
        @include md{
          padding-bottom: 20px;
        }
        
      }
      h2, h3{
        margin: 0;
      }
      .kts-card-item-header{
        font-size: 14px;
        @include md{
          font-size: 24px;
        }
        font-weight: 400;
        color: $color-text-primary;
      }
      .kts-card-item-info{
        font-size: 11px;
        @include md{
          font-size: 20px;
        }
        font-weight: 400;
        color: $color-sub-header;
      }
      .link-arrow {
        text-decoration: none;
        padding-bottom: 10px;
        width: 22px;
        @include md {
          width: 25px
        }
      }
  
      .scroll-content {
        height: 100%;
      }
    }
  }
  