.page-wrapper
  .content-wrapper
    .left-column    
      .organization
        img.logo(src="https://images-na.ssl-images-amazon.com/images/I/41sfz8dKX1L._SL500_AC_SS350_.jpg")
        .title
          | {{opportunity.title}}
        .organization-name
          | {{opportunity.organization_name}}
        button.interested-button((click)="applyOpportunity()")
          | Interested
    .right-column
      .description
        .description-title
          | Description
        .description-content
          | {{ opportunity.details }}      