.page-wrapper.notifications(appMouseWheel (mouseWheelUp)="mouseWheelUp()" (mouseWheelDown)="mouseWheelDown()")
  #users.content-wrapper
    .header-nav
      h1.headers
        | Notifications
      .button-group
          button.new-notification-button.feedback-btn((click)='addNotification()')
            span
              | New Notification
          button.new-notification-button.feedback-btn((click)='newMessage()' *ngIf="canCreateMessage")
            span
              | New Message
    .justify-start.newTabs.mb-4
      .sub-nav-item.center.mr-4.newSubNav([ngClass]="{'sub-nav-item-selected': selectedTab === 'notifications'}")
        | Notifications
    app-notificationlist(*ngIf="selectedTab === 'notifications'")