//Global
$nav-height: 57px;


// typography
$font-primary: 'Barlow', sans-serif;


//colors
$color-primary: #E41C3D;
$color-background: #F5F6FA;
$color-nav-underline: #DDE2ED;
$color-secondary-button: #919EC5;
$color-input-outline: #E6E9F2;
$color-table-line: #E6E9F2;
$color-edit-button: #DDE2ED;
$color-tags: #525E83;
$color-search-not-found: #f7d4d4;
$color-search-border:#E9ECF4;

$color-text-primary: #19233C;
$color-text-main-nav: #BFC5D1;
$color-text-sub-nav: #8B93A6;
$color-text-nav-selected: #E41C3D;
$color-text-link: #E41C3D;
$color-text-label: #8B93A6;
$color-text-input-placeholder: #8F99B3;
$color-text-button: #ffffff;
$color-text-table-header: #8B93A6;