page-prizes {
  .content-wrapper {
    position: relative;
    z-index: 2;
    width: 1080px;
    max-width: 1080px;
    margin: 0 5px 10px 5px;    
    @include md{
      margin: 0 15px 0 15px;    
    }
  }
  // .points-header-mobile {
  //   font-size: 14px;
  //   color: #E21E3E;
  //   margin: 5px, 0 0 0;
  //   @include md{
  //     display:none;
  //   }
  // }
    .lp-list-col{
      padding: 0 !important;
    }

  .points-header{
    display: none;
    @include md {
      display: flex;
      font-size: 24px;
      margin: 10px;
      color: #E21E3E;
    }
  }
  .lp-list {    
    margin-top: 10px;
    @include md{
      margin-top: 0;
    }
    .scroll-content {
      padding: 0 0 10px 0;
      height: calc(100vh - 90px);
      @include md{
        height: calc(100vh - 50px);
      }
    }
  }  
  .prize-col {
    padding: 9px 7px !important;  
     
  }
  .prize {
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0 0 5px 0 rgba(64, 64, 64, .35);        
    padding: 10px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .line {
    background-color: #ebebeb;    
    height: 1px;
    margin: 0 5px 5px 5px;
    @include md{
      margin: 0 10px 10px 10px;
    }
  }
  .logo {
    padding: 25px;
    margin: auto;    
    object-fit: contain;
    z-index: 3; 
    width:  200px;
    max-height: 170px;
    @include md {
      max-height: 200px;
    }
  }
  .title {
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #232d3b;
    line-height: 14px;
    @include md{
      padding-left: 13px;
      font-size: 18px;
      line-height: 22px;      
    }
  }
  .points{
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #8a9099;
    line-height: 14px;
    @include md{      
      font-size: 16px;
      line-height: 19px;
      margin-top: 3px;
      padding-left: 13px;
    }
  }
}
