.page-wrapper
  .content-wrapper
    ion-row(wrap)
      ion-col.prize-col(col-6 col-md-3)
        .prize
          .logo
          hr
          .title
            | 10 Min Go-Kart Session
          .points
            | 35 Points
      ion-col.prize-col(col-6 col-md-3)
        .prize
          | Row1
      ion-col.prize-col(col-6 col-md-3)
        .prize
          | Row1
      ion-col.prize-col(col-6 col-md-3)
        .prize
          | Row1
      ion-col.prize-col(col-6 col-md-3)
        .prize
          | Row1
      ion-col.prize-col(col-6 col-md-3)
        .prize
          | Row1
      ion-col.prize-col(col-6 col-md-3)
        .prize
          | Row1
      ion-col.prize-col(col-6 col-md-3)
        .prize
          | Row1